body {
    margin: 0;
    background: linear-gradient(to right, lightblue, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: rgba(255, 255, 255, .6);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    text-align: center;
    width: 450px;
    margin: 10px;
}

.btn {
    background-color: green;
    color: aliceblue;
    padding: 10px 30px;
    margin-bottom: 30px;
    font-size: 18px;
    width: 300px;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;

}

.btn:disabled {
    background-color: gray;
    /* color: white; */
    cursor: none;
}


.anime-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid green;

}

.name {
    background-color: green;
    padding: 10px ;
    font-size: 25px;
    color: aliceblue;
    margin: 20px;
    border-radius: 15px;
    font-weight: 600;

}
.anime-container{
    display: none;
}